.drawer-option-icon {
  -fx-font-size: 18;
  -fx-text-fill: #756452;
}

.drawer-option {
  -fx-padding: 16;
  -fx-background-radius: 8;
  -fx-pref-width: 300;
  -fx-cursor: hand;
  -fx-spacing: 8;
}

.drawer-option-title {
  -fx-font-size: 16;
  -fx-text-fill: #756452;
  -fx-font-weight: bold;
}

.drawer-option-description {
  -fx-font-size: 14;
  -fx-text-fill: #8f8171;
}

.drawer-option-selected {
  -fx-background-color: #ada090;
}

.drawer-option-selected .drawer-option-description,
.drawer-option:hover .drawer-option-description {
  -fx-text-fill: #e8e4e0 !important;
}

.drawer-option-selected .drawer-option-title,
.drawer-option-selected .drawer-option-icon,
.drawer-option:hover .drawer-option-title,
.drawer-option-selected:hover .drawer-option-icon,
.drawer-option:hover .drawer-option-icon {
  -fx-text-fill: white !important;
}

.drawer-option:hover,
.drawer-option-selected:hover {
  -fx-background-color: #817669;
}
