.debug {
  -fx-background-color: red;
}

.top-container {
  -fx-alignment: center;
  -fx-spacing: 24;
  -fx-padding: 32;
}

.top-right-container {
  -fx-alignment: center;
}

.new-game-btn {
  -fx-padding: 9 13;
  -fx-text-fill: white;
  -fx-background-color: #998b7c;
  -fx-cursor: hand;
  -fx-font-weight: bold;
  -fx-font-size: 16;
  -fx-background-radius: 8;
}

.new-game-btn:hover {
  -fx-background-color: #817669;
}
