.container {
  -fx-padding: 16;
}

.leaderboard-container {
  -fx-background-radius: 12;
  -fx-background-color: #eae7d9;
  -fx-min-width: 500;
  -fx-max-width: 500;
  -fx-min-height: 500;
  -fx-max-height: 500;
}

.leaderboard-label {
  -fx-font-size: 20;
  -fx-text-fill: #9c8b7c;
}

.leaderboard-title-label {
  -fx-font-size: 35;
  -fx-text-fill: #9c8b7c;
}

.leaderboard-label,
.leaderboard-title-label {
  -fx-font-weight: bold;
  -fx-label-padding: 20px 10px;
}
